.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App{
  color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #494949, #040f6e);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link{
  color:rgb(255, 255, 255);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
a:visited {
  color:rgb(255, 255, 255);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
a:active {
  color:rgb(0, 0, 0);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
ul{
  display:table;
  justify-content: center;
  margin:0px auto 0px auto;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}